@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}

#btnSimulation {
    height: 100%;
    font-size: 15px;
}

img {
    height: 32px;
    width: 32px;
}

#partie1,
#partie4 {
    margin-left: 100px;
    margin-right: 100px;
}

#partie2,
#partie3 {
    margin-left: 20px;
    margin-right: 20px;
}

#para {
    width: 50%;
}